NODE_ENV="production"
APP_PORT=3030

DATABASE_HOST="DATABASE_HOST GOES HERE"
DATABASE_PORT=5432
DATABASE_USERNAME="DATABASE_USERNAME GOES HERE"
DATABASE_PASSWORD="DATABASE_PASSWORD GOES HERE"
DATABASE_NAME="DATABASE_NAME GOES HERE"
DATABASE_AUTOLOADENTITIES=true
DATABASE_SYNCHRONIZE=false

JWT_SECRET="JWT_SECRET GOES HERE"
JWT_TOKEN_AUDIENCE="localhost:3000"
JWT_TOKEN_ISSUER="localhost:3000"
JWT_TTL=3600
JWT_REFRESH_TTL=86400

EMAIL_HOST="smtp.example.com"
EMAIL_PORT=465
EMAIL_USER="EMAIL_USER GOES HERE"
EMAIL_PASS="EMAIL_PASS GOES HERE"
EMAIL_FROM="no-reply@example.com"